body {
    padding-top: 20px;
    padding-bottom: 20px;
}

#about {
    padding: 5px;
}

#repl-editor-container {
    position: relative;
    height: 100%;
}

/* The editor container element */
#editor-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    padding:5px;
    padding-right:10px;
}

/* Actual editor element, must have explicit height */
#hy-editor {
    position: relative;
    height: 100%;
}

/* Actual console element */
#hy-console {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: 5px;
}

.container{
    position:absolute;

    /* explicit left, right so margin centers the div */
    left: 0;
    right: 0;

    margin: 0 auto;
    height:83%;
}

/* Position the repl below the editor on tablet sized screens */
@media (max-width: 1024px) {
    #hy-console {
        top: 70%;
        left: 0px;
        width: auto;
    }

    #editor-container {
        height: 70%;
    }
}

/* The editor is hidden by bootstrap when on phone sized screens,
 * so just remove the padding on body, container, etc.
 */
@media (max-width: 768px) {
    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .container {
        padding:0;
        margin:0;
        height:100%;
    }

    .navbar {
        margin-bottom: 5px;
    }

    #hy-console {
        top: 0px;
        margin: 0px;
    }
}

/* Run button sprite from https://github.com/replit/repl.it */
#editor-run {
    background: white;
    background-image: url('/img/sprite.png') !important;
    background-position: -6px -65px !important;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 5;
    padding: 14px 19px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    text-shadow: 0 1px 0 #fff;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
}

#editor-run:hover {
    background-position: -6px -97px !important;
}

#editor-run:active {
    background-position: -6px -129px !important;
}

/* Classes used to style outputs */
.jquery-console-message-error {
    color: red;
}
.jquery-console-message-value {
    color: green;
}
/* The inner console element. */
.jqconsole {
    padding: 10px;
    height: 100%;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: LightGray;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: black;
}
/* The command history */
.jqconsole-old-prompt {
    color: black;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: black;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: black;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: black;
}