body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.container{
    position:absolute;

    /* explicit left, right so margin centers the div */
    left: 0;
    right: 0;

    margin: 0 auto;
    height:85%;
}

#repl-editor-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

/* The editor container element */
#editor-container {
    position: absolute;
    width: 49%;
    top: 10px;
    bottom: 10px;
    left: 10px;
}

#hy-editor {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Run button sprite from https://github.com/replit/repl.it */
#editor-run {
    background: white;
    background-image: url('/img/sprite.png') !important;
    background-position: -6px -65px !important;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 5;
    padding: 14px 19px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    text-shadow: 0 1px 0 #fff;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
}

#editor-run:hover {
    background-position: -6px -97px !important;
}

#editor-run:active {
    background-position: -6px -129px !important;
}

/* The console container element */
#hy-console {
    position: absolute;
    width: 49%;
    top: 10px;
    bottom: 10px;
    right: 10px;
}

/* Classes used to style outputs */
.jquery-console-message-error {
    color: red;
}
.jquery-console-message-value {
    color: green;
}
/* The inner console element. */
.jqconsole {
    padding: 10px;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: black;
}
/* The command history */
.jqconsole-old-prompt {
    color: black;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: black;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: black;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: black;
}