{% extends "layout.html" %}

{% block javascript %}{% endblock%}

{% block navbar %}
<ul class="nav navbar-nav pages">
  <li><a href="/">Home</a></li>
  <li class="active"><a href="#">About</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="about">
  <h1>About Hy</h1>
  <p>
    The Hy programming language is an <a href="https://github.com/hylang/hy">open source</a>
    lisp dialect which converts directly to python's abstract syntaxt tree. This
    allows for easy, complete interoperability between these languages. Hy
    compiles to python bytecode, which can be run on a python interpreter, and
    it can load arbitrary python modules directly. That means that the entire
    python standard library is directly available in Hy! This site provides an
    editor and interpreter which may be used to try out the language.
  </p>
  <p><a href="http://www.hylang.org" class="btn btn-primary btn-lg">Learn more</a></p>
</div>
{% endblock %}
