{% extends "layout.html" %}

{% block javascript %}{% endblock%}

{% block navbar %}
<ul class="nav navbar-nav pages">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="#">About</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="about">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut
      luctus orci. Aliquam ipsum neque, fringilla convallis molestie
      consectetur, luctus id turpis. Donec porttitor massa laoreet orci
      dignissim varius. Suspendisse tempus pellentesque lectus quis
      suscipit. Aliquam luctus eget ligula sed commodo. Vestibulum quis
      vestibulum neque, sed egestas nulla. Phasellus erat diam, suscipit
      in orci vel, accumsan tristique est. In congue orci metus, sit amet
      viverra risus tempor sit amet. Nunc porttitor semper laoreet. Donec
      placerat molestie felis, ut hendrerit felis pharetra sit amet. In
      semper lacus eget commodo suscipit. Nullam et posuere metus, vitae
      ultrices odio. Pellentesque in venenatis quam. Morbi vel nunc turpis.
  </p><p>
      Mauris vestibulum nisl a nisl mollis, ut tincidunt lacus scelerisque.
      Mauris a arcu vel turpis tincidunt maximus. Nullam at egestas leo.
      Nulla convallis urna purus, non egestas nulla cursus nec. Cras
      ullamcorper ante eget velit sollicitudin, vel molestie tellus lacinia.
      Sed scelerisque ex vel imperdiet mollis. Sed et ex nulla. Morbi
      vestibulum nunc sed maximus cursus. Pellentesque iaculis euismod quam
      sed ornare. Suspendisse nunc lorem, condimentum sed vestibulum et,
      molestie ut tellus.
  </p>
</div>
{% endblock %}
