{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript" src="js/balanced-min.js"></script>
<script type="text/javascript" src="js/jqconsole.min.js"></script>
<script type="text/javascript" src="js/ace.js"></script>
<script type="text/javascript" src="js/repl.js"></script>
<script type="text/javascript" src="js/editor.js"></script>

<script type="text/javascript">
 var hy_version = '{{hy_version}}';
 var server_software = '{{server_software}}';
</script>

{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav pages">
  <li class="active"><a href="#">Home</a></li>
    <li><a href="/about.html">About</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Example <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li class="active"><a href="helloworld.hy" class="example">Hello World</a></li>
      <li><a href="chessboard.hy" class="example">Chessboard</a></li>
    </ul>
  </li>
</ul>
{% endblock %}

{% block content %}
<div id="repl-editor-container" class="jumbotron">
  <div class="row">
    <div id="editor-container" class="col-sm-8 hidden-xs">
      <pre id="hy-editor" class="editor"></pre>
      <div id="editor-run" class="button"></div>
    </div>
    <div id="hy-console" class="console col-sm-4 col-xs-12"></div>
  </div>
</div>
<div id="about" class="jumbotron">
{% endblock %}
